<button class="<%= button[:class] %>" data-toggle="modal" data-target="#<%= div[:id] %>"><%= button[:caption] %></button>
<aside class="aside" id="<%= div[:id] %>" tabindex="-1" role="dialog" aria-labelledby="label-<%= div[:id] %>" aria-hidden="true">
  <div class="<%= div[:class] %>">
    <div class="aside-content">
      <div class="aside-header">
        <h4 class="aside-title" id="label-<%= div[:id] %>"><%= div[:title] %></h4>
        <button type="button" class="close" data-dismiss="modal" data-target="#<%= div[:id] %>">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
      </div>
      <%= content %>
    </div>
  </div>
</aside>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    $("[data-target='#<%=div[:id]%>']").on('click', function (e) {
      $("#<%=div[:id]%>").modal('hide');
    });

    $("#<%= div[:id] %>").on('show.bs.modal', function (e) {
      $(e.currentTarget).addClass("<%= script[:class] %>")
    });
  })
</script>