<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Testapp" %></title>
  <%= csrf_meta_tags %>

  <%= bootstrap_css %>
  <%= bootstrap_theme_css %>
  <%= font_awesome_css %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- Uncomment these favicon tags as you create them. https://realfavicongenerator.net/ -->
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%#= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type =>
  'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%#= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type =>
  'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%#= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type =>
  'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%#= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
  %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

</head>
<body>
<%= navbar variant: :primary, text_variant: :dark, position: :fixed_top do %>
  <%= vertical do %>
    <%= content_tag :span, Testapp, class: 'navbar-brand' %>
  <% end %>
  <%= horizontal do %>
    <%= nav do %>
      <%= link_to 'Home', '/', class: 'nav-item' %>
      <%= link_to 'Profile', '/profile', class: 'nav-item' %>
    <% end %>
  <% end %>
<% end %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash  %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
      <%= card title: 'Sidebar' do %>
        <%= content_tag :div, class: 'card-body' do %>
          <%= nav do %>
            <%= link_to "Link1", "/path1" %>
            <%= link_to "Link2", "/path2" %>
            <%= link_to "Link3", "/path3" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <footer class="fixed-bottom">
    <p>&copy; Testapp 2018</p>
  </footer>

</div> <!-- /container -->
<%= jquery_js %>
<%= popper_js %>
<%= bootstrap_js %>

<%= javascript_include_tag "application" %>
</body>
</html>
